<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="camera_gazebo">
    <gazebo reference="camera_link">
        <sensor name="depth_camera" type="camera">
            <!-- <plugin filename="gz-sim-depth-camera-components" name="gz::sim::components::DepthCamera">
                <baseline>0.2</baseline>
                <alwaysOn>true</alwaysOn>
                <updateRate>1.0</updateRate>
                <cameraName>depth_camera_ir</cameraName>
                <imageTopicName>/depth_camera/color/image_raw</imageTopicName>
                <cameraInfoTopicName>/depth_camera/color/camera_info</cameraInfoTopicName>
                <depthImageTopicName>/depth_camera/depth/image_raw</depthImageTopicName>
                <depthImageInfoTopicName>/depth_camera/depth/camera_info</depthImageInfoTopicName>
                <pointCloudTopicName>/depth_camera/depth/points</pointCloudTopicName>
                <frameName>camera_link</frameName>
                <pointCloudCutoff>0.5</pointCloudCutoff>
                <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
                <distortionK1>0.00000001</distortionK1>
                <distortionK2>0.00000001</distortionK2>
                <distortionK3>0.00000001</distortionK3>
                <distortionT1>0.00000001</distortionT1>
                <distortionT2>0.00000001</distortionT2>
                <CxPrime>0</CxPrime>
                <Cx>0</Cx>
                <Cy>0</Cy>
                <focalLength>0</focalLength>
                <hackBaseline>0</hackBaseline>
            </plugin>
            <always_on>1</always_on>
            <update_rate>20</update_rate> -->
            <camera name="Depth_Camera">
                <updateRate>0.2</updateRate>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.2</near>
                    <far>5</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>
  </xacro:macro>

</robot>
